$font-family: 'Lato', Arial, Helvetica, sans-serif;
$green: #03a84e;
$text-black: #373737;
$text-gray: #9C9AA6;
$white: #ffffff;
$containerbg: #fafafa;
$border-color: #eeeeee;
$desktop-width:  1024px;
$tablet-width:  900px;
$mobile-width:  568px;